# Get burp CA to OS store
- name: "Check if BurpSuiteCA.der exists"
  stat:
    path: /usr/local/share/ca-certificates/BurpSuiteCA.der
  register: burp_cert

- name: "Copying Burp Script"
  when: burp_cert.stat.exists == False
  copy:
    src: files/getburpcert.sh
    dest: /tmp/getburpcert.sh
    mode: 0744

- name: "Executing bash script to Download CA Certificate"
  when: burp_cert.stat.exists == False
  shell:
    /tmp/getburpcert.sh

- name: "Copying CA Certificate to /usr/local/share/ca-certificates"
  when: burp_cert.stat.exists == False
  copy:
    src: /tmp/cacert.der
    dest: /usr/local/share/ca-certificates/BurpSuiteCA.der
    owner: root
    group: root
    mode: 0644
  become: true
  become_method: sudo

- name: Create directory for Burp Suite extras
  when: burp_cert.stat.exists == False
  ansible.builtin.file:
    path: "{{ burpsuite_extras_dir }}"
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Download jar files
  when: burp_cert.stat.exists == False
  ansible.builtin.get_url:
    url: "{{ item.value.url }}"
    dest: "{{ burpsuite_extras_dir }}/{{ item.value.jar }}"
    checksum: "{{ item.value.checksum }}"
    mode: '0644'
  become: true
  become_method: sudo
  loop: "{{ lookup('dict', burpsuite_extras_jars) }}"

- name: Copy BurpSuite Community Config
  when: burp_cert.stat.exists == False
  template:
    src: "templates/UserConfigCommunity.json.j2"
    dest: "/home/{{ ansible_user_id }}/.BurpSuite/UserConfigCommunity.json"

# Get Burpsuite pro
- name: "Check if /usr/share/burpsuite/burpsuite_pro.jar exists"
  stat:
      path: /usr/share/burpsuite/burpsuite_pro.jar
  register: burp_pro

- name: Download Burpsuite_pro (v2023.10.2.4 JAR) files
  when: burp_pro.stat.exists == False
  ansible.builtin.get_url:
    url: "https://portswigger-cdn.net/burp/releases/download?product=pro&version=2023.10.2.4&type=JAR"
    dest: "/usr/share/burpsuite/burpsuite_pro.jar"
    checksum: "sha256:1f9fe7c55bc0a06cd120039c86ff6d018c8582ba1d87b5ee8024e7da8515f53c"
    mode: '0644'
  become: true
  become_method: sudo

- name: "Copying Burp Script"
  when: burp_pro.stat.exists == False
  copy:
    src: files/burpsuite_pro
    dest: /usr/bin/burpsuite_pro
    mode: 0755
  become: true
  become_method: sudo
