---
- name: Download and install Rustup
  shell: "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"

- name: Install tools with Cargo
  command: "{{ ansible_env.HOME }}/.cargo/bin/cargo install bat"
