---
- name: "Check the current owner of the folder"
  stat:
    path: /opt/
  register: folder_info

- name: "Change folder owner if not already set"
  file:
    path: "/opt/"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
    recurse: yes
    mode: 0700
  when: folder_info.stat.pw_name is undefined or folder_info.stat.pw_name != ansible_env.USER
  become: true
  become_method: sudo

# It does not git pull because changing ownership is considered as a change so it will error
- name: "Installing useful github repos"
  when: install_mode == 'full'
  git:
    repo: "{{ item.repo }}"
    dest: "{{ item.location }}"
    update: false
  loop:
    - { repo: "https://github.com/411Hall/JAWS", location: "/opt/JAWS"}
    - { repo: "https://github.com/AlessandroZ/LaZagne", location: "/opt/LaZagne"}
    - { repo: "https://github.com/BeichenDream/GodPotato", location: "/opt/GodPotato"}
    - { repo: "https://github.com/bitsadmin/wesng", location: "/opt/wesng"}
    - { repo: "https://github.com/carlospolop/PEASS-ng", location: "/opt/PEASS"}
    - { repo: "https://github.com/CompassSecurity/BloodHoundQueries", location: "/opt/BloodHoundQueries"}
    - { repo: "https://github.com/cytopia/pwncat", location: "/opt/pwncat"}
    - { repo: "https://github.com/Dec0ne/DavRelayUp", location: "/opt/DavRelayUp"}
    - { repo: "https://github.com/dirkjanm/krbrelayx", location: "/opt/krbrelayx"}
    - { repo: "https://github.com/dirkjanm/mitm6", location: "/opt/mitm6"}
    - { repo: "https://github.com/DominicBreuker/pspy", location: "/opt/pspy"}
    - { repo: "https://github.com/droope/droopescan", location: "/opt/droopescan"}
    - { repo: "https://github.com/Flangvik/BetterSafetyKatz", location: "/opt/BetterSafetyKatz"}
    - { repo: "https://github.com/Flangvik/SharpCollection", location: "/opt/SharpCollection"}
    - { repo: "https://github.com/fortra/impacket", location: "/opt/impacket"}
    - { repo: "https://github.com/gentilkiwi/mimikatz", location: "/opt/mimikatz"}
    - { repo: "https://github.com/GhostPack/Certify", location: "/opt/Certify"}
    - { repo: "https://github.com/GhostPack/Rubeus", location: "/opt/Rubeus"}
    - { repo: "https://github.com/GhostPack/Seatbelt", location: "/opt/Seatbelt"}
    - { repo: "https://github.com/Greenwolf/ntlm_theft", location: "/opt/ntlm_theft"}
    - { repo: "https://github.com/Group3r/Group3r", location: "/opt/Group3r"}
    - { repo: "https://github.com/Hackndo/lsassy", location: "/opt/lsassy"}
    - { repo: "https://github.com/iamj0ker/bypass-403", location: "/opt/bypass"}
    - { repo: "https://github.com/jpillora/chisel", location: "/opt/chisel"}
    - { repo: "https://github.com/laluka/bypass-url-parser", location: "/opt/bypass-url-parser"}
    - { repo: "https://github.com/lgandx/Responder", location: "/opt/Responder"}
    - { repo: "https://github.com/ly4k/Certipy", location: "/opt/Certipy"}
    - { repo: "https://github.com/Porchetta-Industries/CrackMapExec", location: "/opt/CrackMapExec"}
    - { repo: "https://github.com/mubix/IOXIDResolver", location: "/opt/IOXIDResolver"}
    - { repo: "https://github.com/n00py/LAPSDumper", location: "/opt/LAPSDumper"}
    - { repo: "https://github.com/PowerShellMafia/PowerSploit", location: "/opt/PowerSploit"}
    - { repo: "https://github.com/rasta-mouse/Sherlock", location: "/opt/mouse"}
    - { repo: "https://github.com/rebootuser/LinEnum", location: "/opt/LinEnum"}
    - { repo: "https://github.com/rezasp/joomscan", location: "/opt/joomscan"}
    - { repo: "https://github.com/ropnop/kerbrute", location: "/opt/kerbrute"}
    - { repo: "https://github.com/SecuraBV/Timeroast", location: "/opt/Timeroast"}
    - { repo: "https://github.com/skelsec/pypykatz", location: "/opt/pypykatz"}
    - { repo: "https://github.com/SnaffCon/Snaffler", location: "/opt/Snaffler"}
    - { repo: "https://github.com/TheWover/donut", location: "/opt/donut"}
    - { repo: "https://github.com/topotam/PetitPotam", location: "/opt/PetitPotam"}
    - { repo: "https://github.com/urbanadventurer/username-anarchy", location: "/opt/username-anarchy"}
    - { repo: "https://github.com/xct/hashgrab", location: "/opt/hashgrab"}
    - { repo: "https://github.com/xct/morbol", location: "/opt/morbol"}
    - { repo: "https://github.com/xct/xc", location: "/opt/xc"}
    - { repo: "https://github.com/frohoff/ysoserial", location: "/opt/ysiserial"}
    - { repo: "https://github.com/scipag/vulscan", location: "/opt/scipag_vulscan"}
    - { repo: "https://github.com/lgandx/PCredz", location: "/opt/PCredz"}
    - { repo: "https://github.com/synacktiv/ntdissector", location: "/opt/ntdissector"}
    - { repo: "https://github.com/janstarke/ntdsextract2", location: "/opt/ntdsextract2"}
    - { repo: "https://github.com/dionach/NtdsAudit", location: "/opt/NtdsAudit"}
    - { repo: "https://github.com/C-Sto/gosecretsdump", location: "/opt/gosecretsdump"}
    - { repo: "https://github.com/p0dalirius/LDAPWordlistHarvester", location: "/opt/LDAPWordlistHarvester"}
    - { repo: "https://github.com/0xVavaldi/gramify", location: "/opt/gramify"}
    - { repo: "https://github.com/ticarpi/jwt_tool", location: "/opt/jwt_tool"}

# install Vulscan into nmap: usage *nmap -sV --script=vulscan/vulscan.nse TARGET*
# - name: "Configuring vulscan into nmap"
#   command: "[ -e /usr/share/nmap/scripts/vulscan ] && echo 'Link already exists' || ln -s /opt/scipag_vulscan /usr/share/nmap/scripts/vulscan"
#   become: true
#   become_method: sudo

## need to download compiled package from github release

# install GDB + GEF: https://github.com/hugsy/gef
- name: "Configuring GEF in GDB"
  shell: |
    wget -O ~/.gdbinit-gef.py -q https://gef.blah.cat/py
    echo source ~/.gdbinit-gef.py >> ~/.gdbinit
