---
# tasks file for install-tools
- include_tasks: "apt.yml"
- include_tasks: "burp.yml"
- include_tasks: "gem.yml"
- include_tasks: "github.yml"
- include_tasks: "pip.yml"
  when: install_mode == 'full'
- include_tasks: "sublimetext.yml"
- include_tasks: "zedencrypt.yml"
- include_tasks: "cargo.yml"
  when: install_mode == 'full'
- include_tasks: "go.yml"
  when: install_mode == 'full'