{
  "policies": {
    "AppAutoUpdate": true,
    "BackgroundAppUpdate": true,
    "BlockAboutAddons": false,
    "BlockAboutConfig": false,
    "BlockAboutProfiles": false,
    "BlockAboutSupport": false,
    "Bookmarks": [
      {
        "Title": "CyberChef",
        "URL": "https://gchq.github.io/CyberChef/",
        "Favicon": "https://gchq.github.io/CyberChef/assets/aecc661b69309290f600.ico",
        "Placement": "toolbar",
        "Folder": "CTF"
      },
      {
        "Title": "GTFOBins",
        "URL": "https://gtfobins.github.io/",
        "Favicon": "https://gtfobins.github.io/assets/logo.png",
        "Placement": "toolbar",
        "Folder": "CTF"
      },
      {
        "Title": "AperiSolve",
        "URL": "https://aperisolve.fr/",
        "Placement": "toolbar",
        "Folder": "CTF"
      },
      {
        "Title": "Webhook.site",
        "URL": "https://webhook.site",
        "Favicon": "https://cdn.webhook.site/assets/icons/favicon-16x16.png",
        "Placement": "toolbar",
        "Folder": "CTF"
      },
      {
        "Title": "CTFtime Writeups",
        "URL": "https://ctftime.org/writeups",
        "Favicon": "https://ctftime.org/writeups/favicon.png",
        "Placement": "toolbar",
        "Folder": "CTF"
      },
      {
        "Title": "ViewDNS.info",
        "URL": "https://viewdns.info/",
        "Favicon": "https://viewdns.info/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "RevShells",
        "URL": "https://www.revshells.com/",
        "Favicon": "https://www.revshells.com/favicon.442ac9e8.ico",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "JWT.io",
        "URL": "https://jwt.io/",
        "Favicon": "https://jwt.io/img/favicon/favicon-16x16.png",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "Shodan",
        "URL": "https://www.shodan.io/",
        "Favicon": "https://www.shodan.io/static/img/favicon-60c1b1cd.png",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "CSP Evaluator",
        "URL": "https://csp-evaluator.withgoogle.com/",
        "Favicon": "https://csp-evaluator.withgoogle.com/static/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "HexEd.it",
        "URL": "https://hexed.it/",
        "Favicon": "https://hexed.it/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "Crontab Guru",
        "URL": "https://crontab.guru/",
        "Favicon": "https://crontab.guru/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "Grep.app",
        "URL": "https://grep.app/",
        "Favicon": "https://grep.app/favicon-32x32.png",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "Kali Build",
        "URL": "https://github.com/clem9669/kali-build",
        "Favicon": "https://github.githubassets.com/favicons/favicon-dark.svg",
        "Placement": "toolbar",
        "Folder": "Useful"
      },
      {
        "Title": "Many Passwords",
        "URL": "https://many-passwords.github.io/",
        "Favicon": "https://github.githubassets.com/favicons/favicon.svg",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "CrackStation",
        "URL": "https://crackstation.net/",
        "Favicon": "https://crackstation.net/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Chiffrer",
        "URL": "https://chiffrer.info/",
        "Favicon": "https://chiffrer.info/wp-content/uploads/2016/07/cropped-ic_lock_outline_black_48dp_2x-32x32.png",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Weakpass",
        "URL": "https://weakpass.com/",
        "Favicon": "",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Wordlists.dev",
        "URL": "https://www.wordlists.dev/",
        "Favicon": "https://www.wordlists.dev/assets/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "HashMob",
        "URL": "https://hashmob.net/",
        "Favicon": "https://hashmob.net/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Hashcat Example Hashes",
        "URL": "https://hashcat.net/wiki/doku.php?id=example_hashes",
        "Favicon": "https://hashcat.net/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Wordlists Assetnote",
        "URL": "https://wordlists.assetnote.io/",
        "Favicon": "https://wordlists.assetnote.io/assets/favicon.ico",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "Hashes.com Decrypt",
        "URL": "https://hashes.com/en/decrypt/hash",
        "Favicon": "https://hashes.com/favicon.png",
        "Placement": "toolbar",
        "Folder": "Passwords"
      },
      {
        "Title": "OSINT Framework",
        "URL": "https://osintframework.com/",
        "Favicon": "",
        "Placement": "toolbar",
        "Folder": "OSINT"
      },
      {
        "Title": "Intel Techniques",
        "URL": "https://inteltechniques.com/tools/index.html",
        "Favicon": "https://inteltechniques.com/favicon.ico",
        "Placement": "toolbar",
        "Folder": "OSINT"
      },
      {
        "Title": "Internal All The Things",
        "URL": "https://swisskyrepo.github.io/InternalAllTheThings/",
        "Favicon": "https://swisskyrepo.github.io/InternalAllTheThings/assets/images/favicon.png",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "Payloads All The Things",
        "URL": "https://github.com/swisskyrepo/PayloadsAllTheThings",
        "Favicon": "https://github.githubassets.com/favicons/favicon-dark.svg",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "The Hacker Recipes",
        "URL": "https://www.thehacker.recipes/",
        "Favicon": "https://i.imgur.com/ZPJ5eNv.png",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "Ired Team",
        "URL": "https://www.ired.team/",
        "Favicon": "https://i.imgur.com/O4PZInN.png",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "PPN SnovvCrash",
        "URL": "https://ppn.snovvcrash.rocks/",
        "Favicon": "https://i.imgur.com/OhpoKcQ.png",
        "Placement": "toolbar",
        "Folder": "Internal"
      },
      {
        "Title": "VulnDev.io Notes",
        "URL": "https://notes.vulndev.io/wiki",
        "Favicon": "https://i.imgur.com/zmcCDo7.png",
        "Placement": "toolbar",
        "Folder": "Internal"
      }
    ],
    "CaptivePortal": true,
    "Certificates": {
      "Install": ["/usr/local/share/ca-certificates/BurpSuiteCA.der"]
    },
    "Cookies": {
      "AcceptThirdParty": "never",
      "RejectTracker": true,
      "Locked": false,
      "Behavior": "reject-tracker-and-partition-foreign",
      "BehaviorPrivateBrowsing": "reject-tracker-and-partition-foreign"
    },
    "DisableBuiltinPDFViewer": true,
    "DisableDeveloperTools": false,
    "DisableFeedbackCommands": true,
    "DisableFirefoxAccounts": true,
    "DisableFirefoxScreenshots": true,
    "DisableFirefoxStudies": true,
    "DisableForgetButton": true,
    "DisableFormHistory": false,
    "DisableMasterPasswordCreation": true,
    "DisablePasswordReveal": false,
    "DisablePocket": true,
    "DisablePrivateBrowsing": false,
    "DisableProfileImport": false,
    "DisableProfileRefresh": false,
    "DisableSafeMode": false,
    "DisableSecurityBypass": {
      "InvalidCertificate": false,
      "SafeBrowsing": false
    },
    "DisableSetDesktopBackground": true,
    "DisableSystemAddonUpdate": false,
    "DisableTelemetry": true,
    "DisplayBookmarksToolbar": "newtab",
    "DisplayMenuBar": "default-off",
    "DNSOverHTTPS": {
      "Enabled":  true,
      "Locked": false
    },
    "DontCheckDefaultBrowser": true,
    "DownloadDirectory": "${home}/Downloads",
    "EnableTrackingProtection": {
      "Value": true,
      "Locked": false,
      "Cryptomining": true,
      "Fingerprinting": true,
      "EmailTracking": true
    },
    "Extensions": {
      "Install": [
{% for item in FirefoxPlugins %}
        "https://addons.mozilla.org/firefox/downloads/latest/{{ item }}/latest.xpi"{{ "," if not loop.last }}
{% endfor %}
      ]
    },
    "ExtensionUpdate": true,
    "FirefoxHome": {
      "Search": true,
      "TopSites": false,
      "SponsoredTopSites": false,
      "Highlights": true,
      "Pocket": false,
      "SponsoredPocket": false,
      "Snippets": true,
      "Locked": false
    },
    "FirefoxSuggest": {
      "WebSuggestions": false,
      "SponsoredSuggestions": false,
      "ImproveSuggest":  false,
      "Locked": false
    },
    "GoToIntranetSiteForSingleWordEntryInAddressBar": false,
    "HardwareAcceleration": true,
    "Homepage": {
      "URL": "",
      "Locked": false,
      "StartPage": "homepage"
    },
    "InstallAddonsPermission": {
      "Default": true
    },
    "LegacySameSiteCookieBehaviorEnabled": true,
    "NetworkPrediction": false,
    "NewTabPage": true,
    "NoDefaultBookmarks": true,
    "OfferToSaveLogins": true,
    "PDFjs": {
      "Enabled": true,
      "EnablePermissions": true
    },
    "PictureInPicture": {
      "Enabled": false,
      "Locked": false
    },
    "PopupBlocking": {
      "Default": true,
      "Locked": false
    },
    "Preferences": {
      "accessibility.force_disabled": {
        "Value": 1,
        "Status": "default"
      },
      "browser.tabs.warnOnClose": {
        "Value": false,
        "Status": "locked"
      }
    },
    "PrimaryPassword": false,
    "PrintingEnabled": true,
    "PromptForDownloadLocation": false,
    "Proxy": {
      "Mode": "none",
      "Locked": false
    },
    "RequestedLocales": "en,en-US",
    "SanitizeOnShutdown": {
      "Cache": false,
      "Cookies": false,
      "Downloads": true,
      "FormData": true,
      "History": false,
      "Sessions": false,
      "SiteSettings": false,
      "OfflineApps": false,
      "Locked": false
    },
    "SearchSuggestEnabled": false,
    "ShowHomeButton": false,
    "SSLVersionMin": "tls1",
    "SupportMenu": {
      "Title": "Support Menu",
      "URL": "http://example.com/support",
      "AccessKey": "S"
    },
    "StartDownloadsInTempDirectory": false,
    "UserMessaging": {
      "WhatsNew": false,
      "ExtensionRecommendations": false,
      "FeatureRecommendations": false,
      "UrlbarInterventions": false,
      "SkipOnboarding": true,
      "MoreFromMozilla":  false,
      "Locked": false
    }
  }
}